CREATE VIEW hr4_recruitment_success AS SELECT h.id AS hired_id, h.hr4_job_id, h.employee_id, h.full_name, h.hired_at, j.title AS job_title, j.department, j.specialization_name, j.position_id, j.status FROM hired_users_hr4 h LEFT JOIN available_jobs_hr4 j ON h.hr4_job_id = j.id;
