services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: concord_app
    ports:
      - "8000:80"
    env_file:
      - .env
    volumes:
      - .:/var/www/html
  
    depends_on:
      - vite

  vite:
    image: node:20-alpine
    container_name: concord_vite
    working_dir: /var/www/html
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - .:/var/www/html
    environment:
      - NODE_ENV=development

