@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme.css';

/* Global */
@import "./base/**/*.css";

/* Components */
@import "./components/**/*.css";

/* Pages */
@import "./pages/**/*.css";
