
@import "tailwindcss";

/* 2. Custom theme variables (if using v4 @theme block) */
@import './theme.css';


@import "./base/index.css"; 

/* 4. Components */
@import "./components/index.css";

/* 5. Pages */
@import "./pages/index.css";

